extends ../layout/layout.pug

block content
  .main.container
    .row
      .poll-container
        .col-md-5.col-md-offset-1
          .page-header
            -name = bar.name;
            -bar_id = bar._id
              h2=bar.name
              if true
                form(action=href='/api/bars/' + bar_id + '/patrons' method='post')
                  button.bar(type="submit")=`${bar.patrons.length} Going`